.book-details {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.button1{
  background-color:rgb(98, 165, 98);
  border-radius: 10px;
  border-width:0px;
  padding:20px;
  color:white;
  font-size:18px;
  border-style: solid;
}
.heading{
  font-size: 30px;
}
